<% content_for :title, title %>

<div class="flex justify-between items-center">
  <div>
    <h1 class="text-2xl font-semibold"><%= title %></h1>

    <% if local_assigns[:subtitle] %>
      <h2 class="text-zinc-500 mt-1"><%= subtitle %></h2>
    <% end %>
  </div>

  <div>
    <%= yield %>
  </div>
</div>

<hr class="my-6">
