<dialog class="modal" data-modal-target="modal">
  <div class="modal-box">
    <div>
      <%= yield %>
    </div>

    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
