<ul class="menu bg-white sm:rounded-2xl text-base-content min-h-full w-80 p-4">
  <%= link_to root_path do %>
    <li class="mb-4">
      <span class="text-xl font-semibold"><i class="fa-solid fa-paperclip text-primary"></i>tinyapp</span>
    </li>
  <% end %>

  <li><%= link_to "Item 1", root_path %></li>
  <li><%= link_to "Item 2", root_path %></li>
</ul>
