<% content_for :body do %>
  <body class="min-h-screen flex flex-col items-center justify-between text-base-content bg-gradient-to-r from-violet-500 to-violet-900">
    <%= render "shared/flash" %>

    <span class="p-6 text-xl font-semibold text-neutral-content">tinyapp</span>

    <main class="p-6 border bg-white rounded-lg shadow-md">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
<% end %>

<%= render template: "layouts/application" %>
